{% extends './index.html' %}
{% block title %}Buscador{% endblock %}

{% block customCSSyJs %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buscador.css') }}">
    <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>  
{% endblock %}
    
{% block content %}
<div class="buscar d-flex justify-content-around align-items-center w-100 mt-2 flex-row">
    <div class="logOut mx-2 mx-md-4">
        <a href="{{url_for('logOut')}}" class="btn btn-secondary"><i class="bi bi-box-arrow-left"></i></a>
    </div>
    <form  method="get" class="searchBar">
        <input type="text" placeholder="Buscar Paciente..." name="buscador"/>
        <button type="submit"><img src="{{ url_for('static', filename='img/search.png') }}"/></button>
    </form>
    {% if npacientes > 0 %}
    <div class="agregar mx-2 mx-md-4">
        <button class="boton btn btn-secondary" data-bs-toggle="modal" data-bs-target="#agregarPaciente"><i class="bi bi-plus-lg"></i></button>
    </div>
    {% endif %}
</div>
<div class="d-flex w-25">
    <a onclick="verificarContraseñaT()" class="btn btn-success ms-4 mx-2"><i class="bi bi-clipboard-plus-fill"></i></a>
    <a onclick="verificarContraseñaE()"" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i></a>
</div>
<div class="pacientes">
{% if npacientes == 0 %}
    <div class="card my-5 center-card">
        <h5 class="card-header text-center">No se encontraron pacientes ingresados</h5>
        <div class="card-body">
            <h5 class="card-title">No se ha encontrado ningun paciente</h5>
            <p class="card-text">Para agregar un paciente presione el siguiente botón.</p>
            <a class="btn btn-success botn" data-bs-toggle="modal" data-bs-target="#agregarPaciente">Agregar Paciente</a>
        </div>
    </div>
{% else %}
    <div class="table-responsive w-100 my-5 w-sm-75 p-sm-5 m-sm-0">
        <table class="table table-striped table-bordered tabla">
            <thead>
                <tr>
                    <th>Nombre Paciente</th>
                    <th>Edad</th>
                    <th>Fecha Nacimiento</th>
                    <th>Teléfono</th>
                    <th>Detalles</th>
                </tr> 
            </thead>
            <tbody class="table-group-divider">
                {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente[1] }}</td> 
                        <td>{{ paciente[2] }}</td> 
                        <td>{{ paciente[3] }}</td> 
                        <td>{{ paciente[4] }}</td> 
                        <td><a href="detallesPaciente/{{ paciente[0] }}" class="btn btn-success">Ver Detalles</a></td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<!-- MODAL AGREGAR PACIENTES -->
<div class="modal fade" id="agregarPaciente" tabindex="-1" aria-labelledby="agregarPaciente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarHabilidadLabel">Agregar Paciente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agregarPacienteForm" method="POST" action="{{ url_for('agregarPaciente') }}">
                    <div class="mb-3">
                        <label for="nombrePaciente" class="form-label">Nombre Completo:</label>
                        <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="edadPaciente" class="form-label">Edad:</label>
                            <input type="number" class="form-control" id="edadPaciente" name="edadPaciente" required>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="fechaNac" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNac" name="fechaNac" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="telPaciente" class="form-label">Teléfono:</label>
                        <input type="tel" class="form-control" id="telPaciente" name="telPaciente" required>
                    </div>
                    <div class="mb-3">
                        <label for="ocupacion" class="form-label">Ocupación:</label>
                        <input type="text" class="form-control" id="ocupacion" name="ocupacion">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="enfermedades" class="form-label">Enfermedades:</label>
                            <input type="text" class="form-control" id="enfermedades" name="enfermedades" />
                        </div>
                        <div class="mb-3 col-6">
                            <label for="enfermedadesCro" class="form-label">Enfermedades crónicas:</label>
                            <input type="text" class="form-control" id="enfermedadesCro" name="enfermedadesCro">
                        </div>
                    </div>
                    <div class="mb-3 ">
                        <label for="medicamentos" class="form-label">Medicamentos que toma actualmente:</label>
                        <input type="text" class="form-control" id="medicamentos" name="medicamentos" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="alergias" class="form-label">Alergias:</label>
                            <input type="text" class="form-control" id="alergias" name="alergias">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="implatesDispositivos" class="form-label">Implantes o dispositivos:</label>
                            <input type="text" class="form-control" id="implatesDispositivos" name="implatesDispositivos">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-success">Agregar Paciente Al Sistema</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}