{% extends './index.html' %}
{% block title %}Detalles Paciente {{ paciente[1] }}{% endblock %}

{% block customCSSyJs %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>   
{% endblock %}
    
{% block content %}
<div class="contenedor my-3">
    <div class="card carta w-sm-100">
        <div class="card-body">
            <a href="{{ url_for('buscador') }}" class="btn btn-primary mt-2 home">
                <i class="fas fa-home"></i> <span class="d-none d-sm-inline-block">Home</span>
            </a>            
            <div id="btnimprimir">
                <button class="btn btn-primary" onclick="imprimir()">
                    <i class="bi bi-printer"></i> <span class="d-none d-sm-inline-block">Imprimir</span>
                </button>
            </div>
          <h4 class="card-title text-center mt-3">Ficha Paciente: {{ paciente[1] }}</h4>
          <form class="p-3" action="/actualizarPaciente/{{ paciente[0] }}" method="POST">
            <div class="d-flex justify-content-end">
                <a class='btn btn-warning' id="activar" onclick='activar()'>
                    <i class="bi bi-pencil-square"></i> <span class="d-none d-sm-inline-block">Editar</span>
                </a>
                <div class="d-none" id="guardar">
                    <button class='btn btn-success'>
                        <i class="bi bi-save2"></i> <span class="d-none d-sm-inline-block">Guardar</span>
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label for="nombrePaciente" class="form-label">Nombre Completo:</label>
                <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" class="inputs" value="{{ paciente[1] }}" required disabled>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6">
                    <label for="edadPaciente" class="form-label">Edad:</label>
                    <input type="number" class="form-control" id="edadPaciente" name="edadPaciente" class="inputs" value="{{ paciente[2] }}" required disabled>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label for="fechaNac" class="form-label">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="fechaNac" name="fechaNac" class="inputs" value="{{ paciente[3] }}" required disabled>
                </div>
            </div>
            <div class="mb-3">
                <label for="telPaciente" class="form-label">Teléfono:</label>
                <input type="tel" class="form-control" id="telPaciente" name="telPaciente" class="inputs" value="{{ paciente[4] }}" required disabled>
            </div>
            <div class="mb-3">
                <label for="ocupacion" class="form-label">Ocupación:</label>
                <input type="text" class="form-control" id="ocupacion" name="ocupacion" class="inputs" value="{{ paciente[5] }}" disabled>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6">
                    <label for="enfermedades" class="form-label">Enfermedades:</label>
                    <input type="text" class="form-control" id="enfermedades" name="enfermedades" class="inputs" value="{{ paciente[6] }}" disabled/>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label for="enfermedadesCro" class="form-label">Enfermedades crónicas:</label>
                    <input type="text" class="form-control" id="enfermedadesCro" name="enfermedadesCro" class="inputs" value="{{ paciente[7] }}" disabled/>
                </div>
            </div>
            <div class="mb-3 ">
                <label for="medicamentos" class="form-label">Medicamentos que toma actualmente:</label>
                <input type="text" class="form-control" id="medicamentos" name="medicamentos" class="inputs" value="{{ paciente[8] }}" disabled/>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6">
                    <label for="alergias" class="form-label">Alergias:</label>
                    <input type="text" class="form-control" id="alergias" name="alergias" class="inputs" value="{{ paciente[9] }}" disabled/>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label for="implatesDispositivos" class="form-label">Implantes o dispositivos:</label>
                    <input type="text" class="form-control" id="implatesDispositivos" name="implatesDispositivos" class="inputs" value="{{ paciente[10] }}" disabled/>
                </div>
            </div>
          </form>
          <div class="tratamientos px-3 table-responsive">
            <div class="d-inline-flex w-100 justify-content-between mb-3">
                <h4>Tratamientos:</h4>
                <a class="btn btn-success addT" data-bs-toggle="modal" data-bs-target="#agregarTratamiento"><i class="bi bi-plus-lg"></i><span class="d-none d-md-inline-block">Agregar Tratamiento</span></a>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Sesiones</th>
                        <th>Tratamiento</th>
                        <th>Fecha Tratamiento</th>
                        <th>Detalles</th>
                    </tr> 
                </thead>
                <tbody class="table-group-divider">
                    {% for tratamientoP, tratamiento in data %}
                        <tr>
                            <td>{{ tratamientoP[5] }}</td> 
                            <td>{{ tratamiento[1] }}</td> 
                            <td>{{ tratamientoP[4] }}</td> 
                            <td class="d-flex detalles">
                                <a class="btn btn-success me-1" href="/detallesTratamiento/{{ tratamientoP[1] }}/{{ paciente[0] }}?sesiones={{ tratamientoP[5] }}&fecha={{ tratamientoP[4] }}&idTP={{ tratamientoP[0] }}">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <!-- <a class="btn btn-danger" href="/borrarTratamientoPaciente/{{ tratamientoP[1] }}/{{ paciente[0] }}">
                                    <i class="bi bi-trash"></i>
                                </a> -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<!-- MODAL AGREGAR TRATAMIENTOS AL PACIENTE -->
<div class="modal fade" id="agregarTratamiento" tabindex="-1" aria-labelledby="agregarTratamiento" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarTratamientoLabel">Agregar Tratamiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agregarTratamientoForm" action="/agregarTratamiento" method="POST">
                    <div class="mb-3">
                        <label for="nombreTratamiento" class="form-label">Nombre Tratamiento:</label>
                        <select class="form-select" id="nombreTratamiento" name="nombreTratamiento">
                            {% for tratamientos in tratamientosT %}
                                <option value="{{ tratamientos[0] }}">{{ tratamientos[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="numSesiones" class="form-label">Número de Sesiones:</label>
                        <input type="number" class="form-control" id="numSesiones" name="numSesiones" required>
                    </div>
                    <div class="mb-3">
                        <label for="fechaTrat" class="form-label">Fecha del Tratamiento:</label>
                        <input type="date" class="form-control" id="fechaTrat" name="fechaTrat" required />
                    </div>
                    <div class="mb-3">
                        <label for="esteticista" class="form-label">Nombre Esteticista:</label>
                        <select class="form-select" id="esteticista" name="esteticista">
                            {% for esteticista in esteticistas %}
                                <option value="{{ esteticista[0] }}">{{ esteticista[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-none">
                        <input type="text" class="form-control" id="idPaciente" name="idPaciente" value="{{ paciente[0] }}" />
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-success">Agregar Tratamiento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}