{% extends 'index.html' %}


{% block customCSSyJs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/firmar.css') }}">
{% endblock %}

{% block content %}
<div class="return">
    <a class="btn btn-secondary" href="/detallesPaciente/{{ tratamientoSeleccionado[2] }}"><i class="bi bi-arrow-return-left"></i></a>
</div>
<div class="card m-3 carta" id="detallesTratamiento">
    <div class="card-header">
        <h5 class="card-title">Detalles del Tratamiento</h5>
    </div>
    <div class="card-body">
        <h4>Tratamiento: {{ tratamientoSeleccionado[4] }}</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sesión</th>
              <th>Fecha Sesion</th>
              <th>Detalles</th>
              <th>Firma</th>
            </tr>
          </thead>
          <tbody>
            {% for sesion in range(1, tratamientoSeleccionado[6] + 1) %}
              <tr>
                <td>{{ sesion }}</td>
                {% if sesion == 1 %}
                    <td>{{ tratamientoSeleccionado[5] }}</td>
                {% else %}
                    <td><input type="date" class="form-control" name="fechaSesion" placeholder="Fecha Sesion.."/></td>
                {% endif %}
                <td>
                    <ul>
                        <li>Nombre Tratamiento: {{ tratamientoSeleccionado[4] }}</li>
                        <li>Nombre Esteticista: {{ esteticista[0] }}</li>
                        {% if firmasPacientes[7] == None %}
                            <li>No se encontraron observaciones para este paciente.</li>
                        {% else %}
                            <li>Observaciones: {{ firmasPacientes[7] }}</li>
                        {% endif %}
                    </ul>
                </td>
                {% if firmasPacientes[4] == None %}
                    <td><img src="{{ url_for('static', filename='/img/firmas/{{firmasPacientes[4]}}') }}"/></td>
                {% else %}
                    <td><a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#firmar" data-treatment-id="{{ tratamientoSeleccionado[2] }}">Firmar</a></td>
                {% endif %}

              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<!-- MODAL AGREGAR TRATAMIENTOS AL PACIENTE -->
<div class="modal fade" id="firmar" tabindex="-1" aria-labelledby="firmar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="firmarLabel">Firmar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="firmarForm" action"#" >
                    <div class="form-group mt-4">
                        <label for='signature-pad'>Firma:</label>
                        <canvas id="signature-pad" name='signaturePad' width="400px" height="200"></canvas>
                        <a class="btn btn-light" id="clearPad">Limpiar Firma</a>
                        <a class="btn btn-success" id="saveSignature">Firmar</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/firmar.js') }}"></script>  
{% endblock %}