{% extends 'index.html' %}
{% block title %}Detalles Tratamiento {{ tratamientoSeleccionado[4] }}{% endblock %}

{% block customCSSyJs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/firmar.css') }}">
{% endblock %}

{% block content %}
<div class="retrn mt-2">
    <a class="btn btn-secondary" href="/detallesPaciente/{{ tratamientoSeleccionado[2] }}"><i class="bi bi-arrow-return-left"></i></a>
</div>
<div class="card m-3 carta" id="detallesTratamiento">
    <div class="card-header">
        <h5 class="card-title">Detalles del Tratamiento</h5>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <a href="/agregarSesion/{{ tratamientoSeleccionado[0] }}/{{ tratamientoSeleccionado[2] }}" class="btn btn-success" id="agregarSesionBtn">
                <i class="bi bi-plus"></i> <span class="d-none d-sm-inline-block">Agregar Sesion</span>
            </a>            
            <div id="btnimprimir">
                <button class="btn btn-primary" onclick="imprimir()">
                    <i class="bi bi-printer more"></i> <span class="more d-none d-sm-inline-block">Imprimir</span>
                </button>
            </div>
        </div>
        <div class="p-5 observacionGeneral">
            <h3>Observacion General</h3>
            {% if observaciones != None %}
                <p>{{ observaciones[2] }}</p>
                <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#editObservationModal">Editar</button> -->
                <a class="btn btn-danger" href="{{ url_for('eliminarObservacion', idTratamientosPacientes=tratamientoSeleccionado[0], idObservaciones=observaciones[0]) }}">Eliminar</a>
            {% else %}
                <form action="/agregarObservacionGeneral/{{tratamientoSeleccionado[0]}}" method='POST'>
                    <div class="mb-3">
                        <label for="obseracionesForm" class="form-label">Observacion:</label>
                        <textarea class="form-control" id="obseracionesForm" name='observaciones' rows="3" placeholder='Observacion General....'></textarea>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success mb-3">Agregar observacion</button>
                    </div>
                </form>
            {% endif %}
        </div>
        <h4 class="text-center my-2 mb-3">Tratamiento: {{ tratamientoSeleccionado[4] }}</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Sesión</th>
                    <th>Fecha Sesion</th>
                    <th>Detalles</th>
                    <th>Firma</th>
                  </tr>
                </thead>
                <tbody>
                  {% for firmaPaciente in firmasPacientes %}
                    <tr class="{{ 'no-firmado' if firmaPaciente[3] == None else '' }}">
                      <td id="numSesion{{ firmaPaciente[5] }}">{{ firmaPaciente[5] }}</td>
                      {% if firmaPaciente[6] == None %}
                          <td><input type="date" class="form-control" id="fechasesion{{ firmaPaciente[5] }}" name="fechaSesion" placeholder="Fecha Sesion.."/></td>
                      {% else %}
                          <td>{{ firmaPaciente[6] }}</td>
                      {% endif %}
                      <td>
                          <ul>
                              <li>Nombre Tratamiento: {{ tratamientoSeleccionado[4] }}</li>
                              <li>Nombre Esteticista: {{ esteticista[0] }}</li>
                              {% if firmaPaciente[7] == None %}
                                  <li>No se encontraron observaciones para este paciente.</li>
                                  <!-- <textarea type="text" id="observaciones{{ firmaPaciente[5] }}" name="observaciones" class="form-control d-none" placeholder="Agregar observación..."></textarea>-->
                                  <!-- <a id="agregarO" onClick='Activar()' class="btn btn-success">Agregar Observacion</a>  -->
                              {% else %}
                                  <li>Observaciones: {{ firmaPaciente[7] }}</li> 
                              {% endif %} 
                          </ul>
                      </td>
                      {% if firmaPaciente[3] != None %}
                          <td class="m-0 p-0"><img width="100%" height="25%" src="{{ url_for('static', filename='img/firmas/' + firmaPaciente[4]) }}"/></td>
                      {% else %}
                          <td><a class="btn btn-success disabled" data-bs-toggle="modal" data-bs-target="#firmar">Firmar</a><input class="d-none" id="idfirmapaciente" value="{{ firmaPaciente[0] }}"></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <form id="agregarObservacionForm" action="/agregarObservacion" method="POST">
            <div class="mb-3">
                <label for="numSesiones" class="form-label">Nº de Sesion:</label>
                <select class="form-select" id="numSesiones" name="numSesiones">
                    {% for firmaPaciente in firmasPacientes %}
                        <option value="{{ firmaPaciente[0] }}" data-fecha="{{ firmaPaciente[6] }}">{{ firmaPaciente[5] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="fechaSesiones" class="form-label">Fecha de Sesion:</label>
                <input type="date" class="form-control" id="fechasesion" name="fechaSesion" placeholder="Fecha Sesion.." disabled/>
            </div>
            <div class="mb-3">
                <label for="observaciones" class="form-label">Observaciones:</label>
                <textarea type="text" id="observaciones" name="observaciones" class="form-control" placeholder="Agregar observación..."></textarea>
            </div>
            <div class="mb-3 d-none">
                <label for="idP" class="form-label">IdPaciente:</label>
                <input type="text" id="idP" name="idP" class="form-control" placeholder="Agregar observación..." value="{{ tratamientoSeleccionado[2] }}" />
            </div>
            <div class="mb-3 d-none">
                <label for="idT" class="form-label">IdTratamiento:</label>
                <input type="text" id="idT" name="idT" class="form-control" placeholder="Agregar observación..." value="{{ tratamientoSeleccionado[1] }}" />
            </div>
            <div class="mb-3 d-none">
                <label for="idTP" class="form-label">IdTratamientosPaciente:</label>
                <input type="text" id="idTP" name="idTP" class="form-control" placeholder="Agregar observación..." value="{{ tratamientoSeleccionado[0] }}" />
            </div>
            <div class="modal-footer justify-content-center">
                <button id="agregarO" class="btn btn-success">Agregar Observacion</button>
            </div>
        </form>
    </div>
</div>

<!-- MODAL PARA EDITAR OBSERVACION -->
<!-- <div class="modal fade" id="editObservationModal" tabindex="-1" aria-labelledby="editObservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="firmarLabel">Editar Observacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div> -->

<!-- MODAL PARA FIRMAR -->
<div class="modal fade" id="firmar" tabindex="-1" aria-labelledby="firmar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="firmarLabel">Firmar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="firmarForm" action"#" >
                    <div class="form-group mt-4">
                        <label for='signature-pad'>Firma:</label>
                        <canvas id="signature-pad" name='signaturePad' width="340px" height="200"></canvas>
                        <a class="btn btn-light" id="clearPad">Limpiar Firma</a>
                        <a class="btn btn-success" id="saveSignature">Firmar</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
// Habilita el bot贸n Firmar de la primera sesi贸n no firmada
$(document).ready(function() {
    let primeraNoFirmada = $('.no-firmado').first();
    primeraNoFirmada.find('a.btn').removeClass('disabled');
});
</script>

<script src="{{ url_for('static', filename='js/firmar.js') }}"></script>  
{% endblock %}