{% extends './index.html' %}

{% block title %}Esteticistas{% endblock %}

{% block customCSSyJs %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/esteticistas.css') }}">
    <script src="{{ url_for('static', filename='js/esteticistas.js') }}"></script>   
{% endblock %}

{% block content %}
<div class="return mt-2">
    <a class="btn btn-secondary" href="/buscador"><i class="bi bi-arrow-return-left"></i></a>
</div>
<div class="d-flex justify-content-center w-100 m-0">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
        <br/>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible w-75 m-0" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class='esteticistas m-2 d-flex flex-column justify-content-center p-4'>
    <h2>Esteticistas: </h2>

    {% if nesteticistas == 0 %}
    <div class='my-2'>
        <form class="row g-3 p-1" method="POST" action="/agregarEsteticistas">
            <div class="col-auto">
              <label for="nombreEsteticista" class="visually-hidden">Nombre</label>
              <input type="text" class="form-control" id="nombreEsteticista" name="nombreEsteticista" placeholder="Nombre Esteticista" required>
            </div>
            <div class="col-auto">
                <label for="correoEsteticista" class="visually-hidden">Correo</label>
                <input type="email" class="form-control" id="correoEsteticista" name="correoEsteticista" placeholder="Correo Esteticista" required>
            </div>
            <div class="col-auto">
                <label for="telEsteticista" class="visually-hidden">Telefono</label>
                <input type="text" class="form-control" id="telEsteticista" name="telEsteticista" placeholder="Telefono Esteticista" required>
            </div>
            <div class="col-auto">
              <button type="submit" id="agregar" class="btn btn-success mb-2">Agregar</button>
            </div>
          </form>
    </div>
    {% else %}
        <div class='my-2'>
            <form class="row g-3 p-1" method="POST" action="/agregarEsteticistas">
                <div class="col-auto col-md-6 col-lg-auto">
                  <label for="nombreEsteticista" class="visually-hidden">Nombre</label>
                  <input type="text" class="form-control" id="nombreEsteticista" name="nombreEsteticista" placeholder="Nombre Esteticista">
                </div>
                <div class="col-auto col-md-6 col-lg-auto">
                    <label for="correoEsteticista" class="visually-hidden">Correo</label>
                    <input type="email" class="form-control" id="correoEsteticista" name="correoEsteticista" placeholder="Correo Esteticista">
                </div>
                <div class="col-auto col-md-6 col-lg-auto">
                    <label for="telEsteticista" class="visually-hidden">Telefono</label>
                    <input type="text" class="form-control" id="telEsteticista" name="telEsteticista" placeholder="Telefono Esteticista">
                </div>
                <div class="col-auto">
                  <button type="submit" id="agregar" class="btn btn-success mb-2">Agregar</button>
                </div>
              </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr> 
                </thead>
                <tbody class="table-group-divider">
                    {% for esteticista in esteticistas %}
                        <tr>
                            <td>{{ esteticista[0] }}</td> 
                            <td>{{ esteticista[1] }}</td> 
                            <td>{{ esteticista[2] }}</td> 
                            <td>{{ esteticista[3] }}</td> 
                            <td class="d-flex justify-content-around"><a class="btn btn-warning" href="#" onclick="editarEsteticista('{{ esteticista[0] }}', '{{ esteticista[1] }}', '{{ esteticista[2] }}', '{{ esteticista[3] }}')" data-bs-toggle="modal" data-bs-target="#editarEsteticistaModal"><i class="bi bi-pencil-square"></i></a><a class="btn btn-danger" href="borrarEsteticista/{{ esteticista[0] }}"><i class="bi bi-trash"></i></a></td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Modal de edición -->
            <div class="modal fade" id="editarEsteticistaModal" tabindex="-1" aria-labelledby="editarEsteticistaModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarEsteticistaModalLabel">Editar Esteticista</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/editarEsteticista" method="POST">
                                <input type="hidden" id="idEsteticista" name="idEsteticista" value="">
                                <div class="mb-3">
                                    <label for="nombreEsteticistaEdit" class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="nombreEsteticistaEdit" name="nombreEsteticistaEdit" placeholder="Nombre Esteticista">
                                </div>
                                <div class="mb-3">
                                    <label for="correoEsteticistaEdit" class="form-label">Correo:</label>
                                    <input type="email" class="form-control" id="correoEsteticistaEdit" name="correoEsteticistaEdit" placeholder="Correo Esteticista">
                                </div>
                                <div class="mb-3">
                                    <label for="telEsteticistaEdit" class="form-label">Telefono:</label>
                                    <input type="text" class="form-control" id="telEsteticistaEdit" name="telEsteticistaEdit" placeholder="Telefono Esteticista">
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}