{% extends './index.html' %}
{% block title %}Login{% endblock %}

{% block customCSSyJs %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center w-100 m-0 mt-2">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
            <br/>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible w-75 m-0" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div id="login">
        <form id="formLogin" action="/login" method="POST">
            <h1>Bienvenido</h1>

            <div class="inputContainer">
                <input type="text" class="inputLogin" placeholder=" " name="usuario" required />
                <label class="labelLogin">Usuario</label>
            </div>

            <div class="inputContainer">
                <input type="password" class="inputLogin" placeholder=" " name="contraseña" required />
                <label class="labelLogin">Contraseña</label>
            </div>

            <input type="submit" class="submitButton" name="login" value="Ingresar" />
        </form>
    </div>
{% endblock %}