{% extends './index.html' %}
{% block title %}Login{% endblock %}

{% block customCSSyJs %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div id="login">
        <form id="formLogin" action="/login" method="POST">
            <h1>Bienvenido</h1>

            <div class="inputContainer">
                <input type="text" class="inputLogin" placeholder=" " name="usuario" required />
                <label class="labelLogin">Usuario</label>
            </div>

            <div class="inputContainer">
                <input type="password" class="inputLogin" placeholder=" " name="contraseña" required />
                <label class="labelLogin">Contraseña</label>
            </div>

            <input type="submit" class="submitButton" name="login" value="Ingresar" />
        </form>
    </div>
{% endblock %}