<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.svg') }}" type="image/x-icon">
    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div id="login">
        <form id="formLogin" action="/login" method="POST">
            <h1>Bienvenido</h1>

            <div class="inputContainer">
                <input type="text" class="inputLogin" placeholder=" " name="usuario" required />
                <label class="labelLogin">Usuario</label>
            </div>

            <div class="inputContainer">
                <input type="password" class="inputLogin" placeholder=" " name="contraseña" required />
                <label class="labelLogin">Contraseña</label>
            </div>

            <input type="submit" class="submitButton" name="login" value="Ingresar" />
        </form>
    </div>
</body>
</html>