* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle, rgba(0,0,0,0.1) 25%, transparent 26%),radial-gradient(circle at bottom left, rgba(0,0,0,0.1) 12%, transparent 13%),radial-gradient(circle at bottom right, rgba(0,0,0,0.1) 12%, transparent 13%),radial-gradient(circle at top left, rgba(0,0,0,0.1) 12%, transparent 13%),radial-gradient(circle at top right, rgba(0,0,0,0.1) 12%, transparent 13%);
    background-size: 1em 1em;
    background-color: #dee2e6;
}

.buscar {
    width: 100%;
    padding: 5px;
}

.searchBar {
    width: 100%;
    max-width: 700px;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    border-radius: 60px;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(100%);
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #252629;
}

::placeholder {
    color: #252629;
}

.searchBar button img {
    width: 25px;
}

.searchBar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #252629;
    cursor: pointer;
    transition: all 0,3s;
}

.searchBar button:hover {
    border: none;
    background: #3b3939;
}

.contenedorTabla {
    background-color: #ffff;
    border-radius: 5%;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}

.tabla {
    border-radius: 20%;
}

.pacientes {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}

.center-card {
    text-align: center;
}

.agregar {
    /* position: absolute;
    right: 15%;
    top: 4%; */
    border: none;
    width: 60px;
    height: 60px;
    transition: all 0,3s;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}

.tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

.agregar:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

.boton {
    border: 0;
    border-radius: 50%;
    transition: all 0,3s;
}

.botones {
    background: #f8f9fa;
    display: flex;
    align-items: center;
    min-width: 250px;
    border-radius: 60px;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(100%);
}


/* Estilos específicos para dispositivos con un ancho máximo de 768px (tablets, dispositivos móviles) */
@media (max-width: 768px) {
    .searchBar {
        width: 80%; /* Reducir el ancho del formulario de búsqueda */
    }
    
    .buscar {
        width: 100%;
    }
    
    .agregar {
        width: 100px;
        height: 80px;
        position: relative;
        right: 10px;
        top: 50px;
    }
    
    .searchBar button {
        position: absolute;
        right: 10px;
    }
}
